{% extends "network/layout.html" %}

{% block body %}

    <h2 class="px-5 pt-4 pb-3 mt-3 text-center">Create New Post</h2>


    {% if message %}
        <div class="px-5 py-2">{{ message }}</div>
    {% endif %}

    <form class="px-5 py-2 col-8 offset-2" action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label><b>Post Content:</b></label>
            <textarea class="form-control" name="content" rows="10"></textarea>
          </div>
          <div class="text-center">
            <input class="btn btn-brown justify-content-center" type="submit" value="Post">
        </div>
    </form>

{% endblock %}