{% extends "network/layout.html" %}

{% block body %}

    <h2 class="px-5 pt-4 pb-3 mt-3 text-center">Following</h2>

    {% for post in page_posts %}
        <div class="px-4 py-2">
            <div class="card">
                <h5 class="card-header bg-brown pt-2 pb-2"><a class="brownlink" href="{% url 'profile' user_id=post.user.id %}">{{ post.user.username | capfirst }}</a></h5>
                <div class="card-body">
                    <p class="card-text mt-0 mb-2" id="content_{{ post.id }}">{{ post.content }}</p>
                    <p class="card-text grey mt-2 mb-1"><i>{{ post.date_time }}</i></p>
                    <div class="row pl-3 mt-2">
                        <div class="pl-3 pr-4 row">
                            <i class="fa fa-thumbs-up" style="font-size:18px"></i>
                            <div class="px-1" id="like_count_{{ post.id }}"> {{ post.like_post.count }}</div>
                        </div>
                        <div class="pl-3 row">
                            <i class="fa fa-thumbs-down" style="font-size:18px"></i>
                            <div class="px-1" id="dislike_count_{{ post.id }}"> {{ post.dislike_post.count }}</div>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    {% if user == post.user %}
                        <div class="d-flex justify-content-aroud pl-2 pb-2">
                            <button type="button" class="btn btn-brown" data-toggle="modal" data-target="#edit_modal">Edit</button>
                        </div>
                        <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="edit_modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="pb-2">{{ post.user.username | capfirst }}</h4>
                                        <textarea class="form-control" name="content" rows="10" id="post_content_{{ post.id }}">{{ post.content }}</textarea>
                                        <p class="pt-2"><i>{{ post.date_time }}</i></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-brown" data-dismiss="modal" id="close_button">Close</button>
                                    <button type="button" class="btn btn-brown" id="save_changes_button" onclick="edit({{ post.id }})" data-dismiss="modal">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row pl-3">
                            {% if post.id in your_liked_post_ids %}
                                <div class="row d-flex justify-content-aroud pl-4 pb-2 pr-2">
                                    <button type="button" class="btn btn-like mr-2 px-4" onclick="like_handler({{ post.id }})">
                                        <div class="row">
                                            <i class="fa fa-thumbs-up pr-2" style="font-size:18px"></i>
                                            <div id="like_{{ post.id }}"> Remove Like </div>
                                        </div>
                                    </button>
                                </div>
                            {% else %}
                                <div class="row d-flex justify-content-aroud pl-4 pb-2 pr-2">
                                    <button type="button" class="btn btn-like mr-2 px-4" onclick="like_handler({{ post.id }})">
                                        <div class="row">
                                            <i class="fa fa-thumbs-up pr-2" style="font-size:18px"></i>
                                            <div id="like_{{ post.id }}"> Like </div>
                                        </div>
                                    </button>
                                </div>
                            {% endif %}
                            {% if post.id in your_disliked_post_ids %}
                                <div class="row d-flex justify-content-aroud pl-4 pb-2">
                                    <button type="button" class="btn btn-dislike mr-2 px-4" onclick="dislike_handler({{ post.id }})">
                                        <div class="row">
                                            <i class="fa fa-thumbs-down pr-2" style="font-size:18px"></i>
                                            <div id="dislike_{{ post.id }}"> Remove Dislike </div>
                                        </div>
                                    </button>
                                </div>
                            {% else %}
                                <div class="row d-flex justify-content-aroud pl-4 pb-2"m>
                                    <button type="button" class="btn btn-dislike mr-2 px-4" onclick="dislike_handler({{ post.id }})">
                                        <div class="row">
                                            <i class="fa fa-thumbs-down pr-2" style="font-size:18px"></i>
                                            <div id="dislike_{{ post.id }}"> Dislike </div>
                                        </div>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}


    <br>

    <nav aria-label="Page navigation">
        <ul class="pagination d-flex justify-content-center">
            {% if page_posts.has_previous %}
                <li class="page-item"><a class="page-link brown-text" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for i in page_posts.paginator.page_range %}
                <li class="page-item"><a class="page-link brown-text" href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% if page_posts.has_next %}
                <li class="page-item"><a class="page-link brown-text" href="?page={{ page_posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>



{% endblock %}